# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Logs / temporales
*.log
node_modules/
.netlify/

# Variables de entorno (el .env local no se commitea)
.env
.env.local

# Output del build
dist/
.vercel
